#######################################################
# This is the main CI workflow test
#######################################################
name: Test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events
  push:
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Test-local-myself
  Test-local-myself:
    # The type of runner that the job will run on: ubuntu
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, ubuntu-18.04, windows-latest, windows-2019, macos-12, macos-11, macos-10.15 ]
      fail-fast: false

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      # Checksout action repository under $GITHUB_WORKSPACE
      - name: Checkout action repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      # Run own repository checkout using local action
      - name: Checkout this repository
        uses: ./
        with:
          path: myself
          ref: ${{ github.ref }}

      # Test
      - name: Test
        if: endsWith( github.ref, env.my_ref )
        run: exit 1

      # List folder recursive (only for debugging)
      - name: List folders
        run: |
          ls -R

  # Test-local-extern
  Test-local-extern:
    # The type of runner that the job will run on: ubuntu
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, ubuntu-18.04, windows-latest, windows-2019, macos-12, macos-11, macos-10.15 ]
      fail-fast: false

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      # Checksout action repository under $GITHUB_WORKSPACE
      - name: Checkout action repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      # Run extern repository checkout using local action
      - name: Checkout an extern repository
        uses: ./
        with:
          repository: githubtraining/community-contributors
          path: extern
          ref: main

      # Test
      - name: Test
        if:  env.my_ref != 'main'
        run: exit 1

      # List folder recursive (only for debugging)
      - name: List folders
        run: |
          ls -R

  # Test-local-lfs
  Test-local-lfs:
    # The type of runner that the job will run on: ubuntu
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, ubuntu-18.04, windows-latest, windows-2019, macos-12, macos-11, macos-10.15 ]
      fail-fast: false

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      # Checksout action repository under $GITHUB_WORKSPACE
      - name: Checkout action repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      # Run git lfs example repository checkout using local action
      - name: Checkout a git-lfs repository
        uses: ./
        with:
          repository: Apress/repo-with-large-file-storage
          path: git-lfs
          ref: master
          lfs: true

      # Test
      - name: Test
        if:  env.my_ref != 'master'
        run: exit 1

      # List folder recursive (only for debugging)
      - name: List folders
        run: |
          ls -R

  # Test-local-myself-branch-not-exist
  Test-local-myself-branch-not-exist:
    # The type of runner that the job will run on: ubuntu
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, ubuntu-18.04, windows-latest, windows-2019, macos-12, macos-11, macos-10.15 ]
      fail-fast: false

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      # Checksout action repository under $GITHUB_WORKSPACE
      - name: Checkout action repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      # Run own repository checkout using local action with not existing branch to default
      - name: Checkout this repository at alternative reference
        uses: ./
        with:
          path: myself-branch-not-exist
          ref: not/existing/feature/branch

      # Test
      - name: Test
        if:  env.my_ref != 'main'
        run: exit 1

      # List folder recursive (only for debugging)
      - name: List folders
        run: |
          ls -R

  # Test-local-myself-branch-alt-ref
  Test-local-myself-branch-alt-ref:
    # The type of runner that the job will run on: ubuntu
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, ubuntu-18.04, windows-latest, windows-2019, macos-12, macos-11, macos-10.15 ]
      fail-fast: false

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      # Checksout action repository under $GITHUB_WORKSPACE
      - name: Checkout action repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      # Run own repository checkout using local action with not existing branch and alt ref
      - name: Checkout this repository at alternative reference (branch)
        uses: ./
        with:
          path: myself-alt-ref-branch
          ref: not/existing/feature/branch
          alt_ref: develop

      # Test
      - name: Test
        if:  env.my_ref != 'develop'
        run: exit 1

      # List folder recursive (only for debugging)
      - name: List folders
        run: |
          ls -R

  # Test-local-myself-branch-alt-ref-tag
  Test-local-myself-branch-alt-ref-tag:
    # The type of runner that the job will run on: ubuntu
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, ubuntu-18.04, windows-latest, windows-2019, macos-12, macos-11, macos-10.15 ]
      fail-fast: false

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      # Checksout action repository under $GITHUB_WORKSPACE
      - name: Checkout action repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      # Run own repository checkout using local action with not existing branch and alt ref
      - name: Checkout this repository at alternative reference (tag)
        uses: ./
        with:
          path: myself-alt-ref-tag
          ref: not/existing/feature/branch
          alt_ref: v0.1

      # Test
      - name: Test
        if:  env.my_ref != 'v0.1'
        run: exit 1

      # List folder recursive (only for debugging)
      - name: List folders
        run: |
          ls -R

  # Test-marketplace-myself
  Test-marketplace-myself:
    # The type of runner that the job will run on: ubuntu
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, ubuntu-18.04, windows-latest, windows-2019, macos-12, macos-11, macos-10.15 ]
      fail-fast: false

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      # Run checkout this repository with own action (last main)
      - name: Checkout this repository with own action (last main)
        uses: rohmanngmbh/action-checkout-repo@main
        with:
          path: myself-action-main

      # Test
      - name: Test
        if: endsWith( github.ref, env.my_ref )
        run: exit 1

      # List folder recursive (only for debugging)
      - name: List folders
        run: |
          ls -R